 * {
     margin: 0px;
     padding: 0px;
 }

 header {
     display: flex;
     justify-content: space-between;
     align-items: center;
     padding: 10px;
 }

 a {
     text-decoration: none;
     color: black;
 }



 ul {
     display: flex;
     list-style-type: none;
     gap: 30px;
 }

 .logo {
     display: flex;
     align-items: center;
     gap: 10px;
 }

 .logo:hover {
     background-color: antiquewhite;
 }

 .logo>img {
     width: 30px;
     height: 30px;
 }

 .menu-toggle {
     display: none;
 }

 @media (max-width:567px) {
     header>nav>ul {
         position: absolute;
         flex-direction: column;
         right: 0;
         width: 100vw;
         transition: transform 300ms ease-in-out;
        transform: translateX(100%);
     }

     .menu-toggle {
         display: block;
     }

     #menu-toggle:checked+ul {
        transform: translateX(0);
     }
 }
 .project{
    text-align: center;
    background-color: aqua;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
padding:10px 20px 20px ;

 }
 .imges{
    text-align: center;

justify-content: space-around;
border-top:1px solid #ccc ;
border-bottom:1px solid #ccc  ;
padding: 3px;

 }
