 * {
     margin: 0px;
     padding: 0px;
  font-family: "Playpen Sans Hebrew", cursive;
 
 }
    .right{
      width: 434px;
height: 18px;
background: #FDBD03 0% 0% no-repeat padding-box;
right: 0px;
top: 0px;
 z-index: 1000;
position: fixed;

    }

    .container {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
  
      
    }

    .form-section {
width: 855px;
height: 381px;
padding-left: 100px;
text-align: right;
    }

    .form-section h1 {
    text-align: right;
font: normal normal 900 66px/97px Heebo;
      margin-bottom: 10px;
      color: #FDBD03;
    }

    .form-section p {
text-align: right;
font: normal normal normal 20px/29px Heebo;
      line-height: 1.6;
      margin-bottom: 40px;
  
    }
      .row {
      display: flex;
      gap: 20px;
    }
      .form-group {
      flex: 1;
      display: flex;
      flex-direction: column;
    }

    label {
      display: block;
    letter-spacing: 0px;
color: #2C2C2C;
      font: normal normal bold 16px/24px Heebo;
      margin-bottom: 5px;
    }

    input,textarea{
    width: 418px;
height: 50px;
      margin-bottom: 20px;
      border: none;
      background: #E5EEFF 0% 0% no-repeat padding-box;
      border-bottom: 4px solid #f7b500;
      box-sizing: border-box;
      
    }
    textarea{
          resize: vertical;
          width: 854px;
height: 143px;
background: #E5EEFF 0% 0% no-repeat padding-box;
    }

    button {
      background-color: #f7b500;
      color: black;
      border: none;
      padding: 12px 24px;
      font-weight: bold;
      font-size: 16px;
      cursor: pointer;
    }

  
    .illustration img {
   
       background: transparent url('img/Image 1.png') 0% 0% no-repeat padding-box;
width: 535px;
height: 804px;
    }

    .whatsapp-icon {
width: 95px;
height: 95px;
 background: #FDBD03 0% 0% no-repeat padding-box;
opacity: 1;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
margin-top: 42px;
margin-left: 40px;
    }

    .whatsapp-icon img {
   width: 54px;
height: 54px;
background: transparent url('img/Icon awesome-whatsapp.png') 0% 0% no-repeat padding-box;

    }
    
    .icon-container {
    display: flex;
    gap: 20px;
padding-bottom: 40px;
padding-left: 35px;
    }

    .icon-circle {
     width: 95px;
height: 95px;
      border-radius: 50%;
      background-color: #f7b500;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: transform 0.3s ease;
    }

    .icon-circle:hover {
      transform: scale(1.1);
    }

    .icon-circle svg {
      width: 40px;
      height: 40px;
      stroke: #000;
    }

    .icon-text {
      font-size: 28px;
      font-weight: bold;
      color: #000;
      font-family: Arial, sans-serif;
    }
    .left{
width: 1038px;
height: 18px;
background: #FDBD03 0% 0% no-repeat padding-box;
left: 0px;
bottom:  0px;
 z-index: 1000;
position: relative;
    }